[buildout]
show-picked-versions = true
extensions =
    mr.developer

index = https://pypi.python.org/simple/

parts =
    instance
    test
    code-analysis
    coverage
    test-coverage
    createcoverage
    releaser
    i18ndude
    omelette
    robot
    plone-helper-scripts
develop = .


[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
environment-vars =
    zope_i18n_compile_mo_files true
eggs =
    Plone
    Pillow
    wildcard.hps [test]


[code-analysis]
recipe = plone.recipe.codeanalysis
directory = ${buildout:directory}/src/wildcard
flake8-ignore = W503
flake8-max-line-length = 110
return-status-codes = False
pre-commit-hook = True


[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}


[test]
recipe = zc.recipe.testrunner
#eggs = ${instance:eggs}
eggs =
    wildcard.hps [test]
initialization =
    os.environ['TZ'] = 'UTC'
defaults = ['--test-path', 'wildcard.hps', '--auto-color', '--auto-progress']


[coverage]
recipe = zc.recipe.egg
eggs = coverage


[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755


[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage


[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[plone-helper-scripts]
recipe = zc.recipe.egg
eggs =
   Products.CMFPlone
   ${instance:eggs}
interpreter = zopepy
scripts =
   zopepy
   plone-compile-resources


[versions]

## python 2.7 compat
setuptools=44.1.1
zc.buildout=2.13.6
Pillow=6.2.2
pyparsing=2.4.7

## automatically picked
bleach = 4.1.0
configparser = 4.0.2
createcoverage = 1.5
mccabe = 0.6.1
pathtools = 0.1.2
pkginfo = 1.8.2
plone.recipe.codeanalysis = 3.0.1
pyflakes = 2.3.1
readme-renderer = 32.0
requests-toolbelt = 0.9.1
zipp = 1.2.0

# Required by:
# bleach==4.1.0
packaging = 21.3

# Required by:
# importlib-metadata==1.3.0
pathlib2 = 2.3.6

# Required by:
# check-manifest==0.41
pep517 = 0.12.0

# Required by:
# pathlib2==2.3.6
scandir = 1.10.0

# Required by:
# bleach==4.1.0
webencodings = 0.5.1

